  :root {
    /* Primary  Colors*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients Colors*/
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral Colors*/
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
  }

  *, 
  *::after, 
  *::before  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Hanken Grotesk', sans-serif;
  }

  p {
    font-size: 1.125rem;
  }

  .wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  header {
    color: var(--White);
    text-align: center;
    padding: 1.5em;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: linear-gradient(
      var(--Light-slate-blue), 
      var(--Light-royal-blue));
  }

  .header_p  {
    font-size: 0.87rem;
    padding-top: 1em;
  }

  .header__p {
    margin: 0 auto;
    color: var(--Pale-blue);
    opacity: .7;
    font-size: 0.87rem;
    padding-bottom: 2em;
  }

    header h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: .5em;
  }

  .circle {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em auto;
    background: linear-gradient(
      var(--Violet-blue), 
      var(--Persian-blue));
  }

  .circle__01 {
    font-size: 2.5rem;
    font-weight: 800;
  }

  main {
    margin-left: 1em;
    padding: 1em;
    background-color: var(--White);
    border-radius: 30px;  
  }

  main h2 {
    font-size: 1.35rem;
    font-weight: 800;
    margin-bottom: 1em;
    color: var(--Dark-gray-blue);
  }

  main img {
    padding-left: .25em;
  }

  main section,
  main .image--section {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

    .first--section p span,
    .second--section p span,
    .third--section p span,
    .fourth--section p span,
    .header_p,
    .circle__02 {
    opacity: .7;
  }

  .image--section img {
    padding: .5em;
  }

  .first--section {
    background-color: color-mix(in srgb-linear, var(--Light-red) 20%, var(--White) 70%);
    padding: .5em;
    border-radius: 10px;
    margin-bottom: .5em;
  }

    .second--section {
    background-color: color-mix(in srgb-linear, var(--Light-red) 10%, var(--White) 70%);
    padding: .5em;
    border-radius: 10px;
    margin-bottom: .5em;
  }

    .third--section {
    background-color: color-mix(in srgb-linear, var(--Green-teal) 25%, var(--White) 70%);
    padding: .5em;
    border-radius: 10px;
    margin-bottom: .5em;
  }

   .fourth--section {
    background-color: color-mix(in srgb-linear, var(--Violet-blue) 25%, var(--White) 70%);
    padding: .5em;
    border-radius: 10px;
    margin-bottom: .5em;
  }

  .reaction--p {
    color: var(--Light-red);
    font-weight: 700;
  }

  .memory--p {
    color: var(--Orangey-yellow);
    font-weight: 700;
  }

  .verbal--p {
    color: var(--Green-teal);
    font-weight: 700;
  }

  .visual--p {
    color: var(--Violet-blue);
    font-weight: 700;
  }

  button {
    width: 100%;
    padding: 1em;
    margin-block: .5em;
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    font-weight: 600;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  footer {
    text-align: center;
    margin-top: 2em;
  }

  @media (width > 500px) {

    body {
      padding-top: 10em;
      height: 100vh;
    }

    .wrapper {
      display: flex;
      max-width: 600px;
      box-shadow: 10px 15px 10px var(--Pale-blue);
      border-radius: 30px;
    }

    header, main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      border-top-right-radius: 30px;
      border-top-left-radius: 30px;
    }

     .header__p {
      padding-bottom: 0;
     }

  }

 

